.App {
  text-align: center;
}

input[type="date"] {
  z-index: 1;
}

.container, .chart-wrapper {
  height: 100vh;
}

.chartjs-size-monitor {
  position: relative;
}

.chartjs-render-monitor {
  position: absolute;
  bottom: 0;
}